* {
    font-family: 'Roboto';
    
}
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}


.navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    font-size: 1.07em;
    font-family: 'Courier New', Courier, monospace;
    color: #0B0A07;
  
  
    
}


.menu {
    margin-right: 100px;
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
    
}

.logo {

    color:#b9b301;

    margin-left: 45px;
}


a {
    text-decoration: none;
    color: black;
}

.current > a {
    color: #b9b301;
}

.video {
    padding: 50px 5px 5px 5px;
    
    display: flex;
    align-content: center;
    justify-content: center;

   
   
}

.video > iframe {
    width: 80%;
    height: 450px;
    border: none;
}

.bio {
    padding: 70px 0 70px 0;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 200px;
   
    
 
}

.bio-info {
    line-height: 3rem;
    font-size: 2rem;
    margin-left: 45px;
   
        
}

.name {
    color: #b9b301;
}

.btn {
    width: 125px;
    height: 50px;
    background-color: #b9b301;
    color: white;
    border: none;
}


.photo > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
   
}

footer {
    height: 250px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-top: 2px solid #F0EC57;
    background-color: #0B0A07;

    color: white;
    
}

.address {
    padding-bottom: 55px;
    font-size: 1.07em;
    margin-left: 15px
}
.links {
    padding-bottom: 105px;
}

.links > a {
    color: white;
}

.links> a:hover {
    color: #F0EC57;
}


.map > iframe {
    width: 300px;
    height: 175px;
    border-radius: 10%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;

    margin-right: 25px;
}


.fa-twitter {
    background: #55ACEE;
    color: white;

    margin-right: 25px;
}

.fa-instagram {
    background: linear-gradient(#4f5bd5, #962fbf, #d62976, #fa7e1e, #feda75);
    color: white;
}


.about-info {
    height: 900px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;

    font-size: 1.5em;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
.bio-info > p {
    font-size: 1.5em;
}

.contact-form {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form {
    border: 1px solid black;
  
    padding: 70px;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
   
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #0B0A07;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #F0EC57;
    color: #0B0A07;
}

