* {
    font-family: 'Roboto','Courier New',
        Courier,
        monospace;
    
}
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}


.navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    font-size: 1.07em;
 
    color: #0B0A07;
  
  
    
}


.menu {
    margin-right: 100px;
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
    
}

.logo {

    color:#b9b301;

    margin-left: 110px;
}


a {
    text-decoration: none;
    color: black;
}

.current > a {
    color: #b9b301;
}

.video {
    padding: 50px 5px 5px 5px;
    
    display: flex;
    align-content: center;
    justify-content: center;

   
   
}

.video > iframe {
    width: 90%;
    height: 450px;
    border: none;
}

.bio {
    padding: 70px 0 70px 0;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 150px;
   
    
 
}

.bio-info {
    line-height: 3.2rem;
    font-size: 2rem;
    line-height: 80%;
  
   
        
}

.name {
    color: #b9b301;
}


.photo > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
   
}

footer {

    height: 250px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-top: 2px solid #F0EC57;
    background-color: #0B0A07;

    color: white;
    
}

.address {
    padding-bottom: 55px;
    font-size: 1.07em;
    margin-left: 15px
}
.links {
    padding-bottom: 105px;
}

.links > a {
    color: white;
}

.links> a:hover {
    color: #F0EC57;
}


.map > iframe {
    width: 300px;
    height: 175px;
    border-radius: 10%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;

    margin-right: 25px;
}


.fa-twitter {
    background: #55ACEE;
    color: white;

    margin-right: 25px;
}

.fa-instagram {
    background: linear-gradient(#4f5bd5, #962fbf, #d62976, #fa7e1e, #feda75);
    color: white;
}


.about-info {
    display: flex;
    justify-content: center;
    align-content: center;

    line-height: 5%;
    text-align: center;
    flex-direction: column;

    font-size: 1em;
    font-style: italic;

    margin-top: 50px;
}
.bio-info > p {
    font-size: 1.5em;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    
}

.form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  
    padding: 70px;
    width: 30%;
    
    max-width: 350px;
   
  
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
   
    margin-top: 6px;
    margin-bottom: 10px;
   
}

#message {
    height: 100px;
    resize: none;
}

input[type=submit] {
    background-color: #0B0A07;
    color: white;
    padding: 12px 20px;
    margin-top: 5px;
    border: none;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #F0EC57;
    color: #0B0A07;
}
.about-info, .education, .work, .projects {
    height: 150px;
}


.education {
    text-align: center;
}

.education > p > span {
    font-weight: bold;
}

.work {
    text-align: center;
}

.work > p > span {
    font-weight: bold;
}

.line {
    border-bottom: 1px solid #b9b301;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
  
}

.projects {
    margin-bottom: 50px;
}

.projects > h2 {
    text-align: center;
}

.projects > h4 {
    text-align: center;
}

.cards {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    align-content: center;
    gap: 1.7rem;

    padding: 5px;
    
}

.card {
    border: 1px solid black;
    background-color: white;
    padding: 15px;
}


.card:hover {
    background-color: #0B0A07;
}

.card:hover > div > a {
    
    color: white;
}

.project-link {
    text-align: center;
}

.project-link > a:hover {
    color: #b9b301;
}

.contact-location {
    margin-top: 20px;
    text-align: center;
    font-weight: 300;

}

@media only screen and (max-width: 600px) {


    .navigation {
        display: flex;
        justify-content: space-between;
     
        font-size: 0.9em;
        color: #0B0A07;

    }


    .video {
        padding: 25px 2px 2px 2px;
    }
    .video>iframe {
     
        height: 250px;
      
    }

    .bio {
        padding: 35px 0 35px 0;
        height: 250px;
        display: flex;
        justify-content: center;
        gap: 70px;



    }

    .bio-info {
        line-height: 1.3rem;
        font-size: 1rem;
        line-height: normal;
        
    }
    .photo > img {
        width: 150px;
        height: 150px;
        border-radius: 50%;

    }
    
    footer {
        height: 150px;

        display: flex;
        justify-content: space-around;
        align-items: center;

        border-top: 2px solid #F0EC57;
        background-color: #0B0A07;

        color: white;

    }

    .address {
        padding-bottom: 20px;
        font-size: 0.9em;
        margin-left: 7px
    }
    .map>iframe {
        width: 150px;
        height: 85px;
        border-radius: 10%;
    }

    .fa {
        padding: 10px;
        font-size: 15px;
        width: 12px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;

    }
}

.error {
   
    padding: 0;
    margin: 0 0 15px 0;
    
    font-size: 0.8rem;
    color: #900;
 
}
